@model JobListDTO
@section SearchSection{
    <form class="float-right" method="get" asp-action="AssignEmployee">
        <input type="text" name="q" class="form-control-sm border border-primary" placeholder="Ara" />
        <button class="btn btn-sm btn-primary">Ara</button>
    </form>
}


<div class="row p-3">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header"><h4 class="text-center lead">Görev Bilgileri</h4></div>
            <div class="card-body">
                <h5 class="card-title">@Model.Title</h5>
                <p class="card-text">@Model.Description</p>
                <p class="card-text">
                    <strong>Aciliyet Durumu: </strong><span class="badge badge-info">@Model.Urgency.Title</span>
                </p>
                <p class="card-text">
                    <small>@Model.Time.ToString("D", new System.Globalization.CultureInfo("tr-TR"))</small>
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        @foreach (var item in (List<AppUserListDTO>)ViewBag.Employees)
        {
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <img src="~/img/@item.Picture" class="card-img" style="height:175px; width:auto;" alt="...">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body">
                            <h5 class="card-title">@item.FirstName @item.LastName</h5>
                            <p class="card-text">
                                <getJobByAppUserId app-user-id="@item.Id"></getJobByAppUserId>
                            </p>
                            <p class="card-text"><small class="text-muted">@item.Email</small></p>
                            <a asp-controller="JobOrder" asp-action="AssignJobEmployee" asp-route-EmployeeId="@item.Id" asp-route-JobId="@Model.Id"
                               class="btn my-1 btn-sm btn-primary float-right">Görevlendir</a>
                        </div>
                    </div>
                </div>
            </div>
        }

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(ViewBag.ActivePage == i ? "active":"")">
                        <a asp-controller="JobOrder" asp-action="AssignEmployee" asp-route-id="@Model.Id" asp-route-page="@i" class="page-link">@i</a>
                    </li>
                }
            </ul>
        </nav>
    </div>
</div>